@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* tree UI */

.treestyletab-counter-container {
	-moz-box-align: center;
	-moz-box-pack: end;
}

.treestyletab-counter,
.treestyletab-counter-paren {
	font-size: 90%;
	margin: 0;
	padding: 0;
	min-width: 0;
}


/* drop markers */

.treestyletab-drop-marker-container {
	-moz-box-align: center;
	-moz-box-pack: center;
}


.tabbrowser-tabs[treestyletab-tabbar-position="bottom"]
  .tabbrowser-tab[treestyletab-drop-position="before"][selected="true"],
.tabbrowser-tabs[treestyletab-tabbar-position="bottom"]
  .tabbrowser-tab[treestyletab-drop-position="before"][selected="true"]:hover,
.tabbrowser-tabs[treestyletab-tabbar-position="bottom"]
  .tabbrowser-tab[treestyletab-drop-position="before"]:not([selected="true"]),
.tabbrowser-tabs[treestyletab-tabbar-position="bottom"]
  .tabbrowser-tab[treestyletab-drop-position="before"]:not([selected="true"]):hover {
	-moz-border-left-colors: -moz-dialogtext -moz-dialogtext !important;
}

.tabbrowser-tabs[treestyletab-tabbar-position="bottom"]
  .tabbrowser-tab[treestyletab-drop-position="after"][selected="true"],
.tabbrowser-tabs[treestyletab-tabbar-position="bottom"]
  .tabbrowser-tab[treestyletab-drop-position="after"][selected="true"]:hover,
.tabbrowser-tabs[treestyletab-tabbar-position="bottom"]
  .tabbrowser-tab[treestyletab-drop-position="after"]:not([selected="true"]),
.tabbrowser-tabs[treestyletab-tabbar-position="bottom"]
  .tabbrowser-tab[treestyletab-drop-position="after"]:not([selected="true"]):hover {
	-moz-border-right-colors: -moz-dialogtext -moz-dialogtext !important;
}


.tabbrowser-tabs[treestyletab-mode="vertical"][treestyletab-style]
  .tabbrowser-tab[treestyletab-drop-position="self"][selected="true"],
.tabbrowser-tabs[treestyletab-mode="vertical"][treestyletab-style]
  .tabbrowser-tab[treestyletab-drop-position="self"][selected="true"]:hover,
.tabbrowser-tabs[treestyletab-mode="vertical"][treestyletab-style]
  .tabbrowser-tab[treestyletab-drop-position="self"]:not([selected="true"]),
.tabbrowser-tabs[treestyletab-mode="vertical"][treestyletab-style]
  .tabbrowser-tab[treestyletab-drop-position="self"]:not([selected="true"]):hover,
.tabbrowser-tabs[treestyletab-mode="vertical"][treestyletab-style][treestyletab-firsttab-border="true"]
  .tabbrowser-tab:first-child[treestyletab-style][selected="true"],
.tabbrowser-tabs[treestyletab-mode="vertical"][treestyletab-style][treestyletab-firsttab-border="true"]
  .tabbrowser-tab:first-child[treestyletab-style][selected="true"]:hover,
.tabbrowser-tabs[treestyletab-mode="vertical"][treestyletab-style][treestyletab-firsttab-border="true"]
  .tabbrowser-tab:first-child[treestyletab-drop-position="self"]:not([selected="true"]),
.tabbrowser-tabs[treestyletab-mode="vertical"][treestyletab-style][treestyletab-firsttab-border="true"]
  .tabbrowser-tab:first-child[treestyletab-drop-position="self"]:not([selected="true"]):hover,
.tabbrowser-tabs[treestyletab-tabbar-position="bottom"][treestyletab-style]
  .tabbrowser-tab[treestyletab-drop-position="self"][selected="true"],
.tabbrowser-tabs[treestyletab-tabbar-position="bottom"][treestyletab-style]
  .tabbrowser-tab[treestyletab-drop-position="self"][selected="true"]:hover,
.tabbrowser-tabs[treestyletab-tabbar-position="bottom"][treestyletab-style]
  .tabbrowser-tab[treestyletab-drop-position="self"]:not([selected="true"]),
.tabbrowser-tabs[treestyletab-tabbar-position="bottom"][treestyletab-style]
  .tabbrowser-tab[treestyletab-drop-position="self"]:not([selected="true"]):hover {
	-moz-border-top-colors: -moz-dialogtext -moz-dialogtext !important;
	-moz-border-right-colors: -moz-dialogtext -moz-dialogtext !important;
	-moz-border-bottom-colors: -moz-dialogtext -moz-dialogtext !important;
	-moz-border-left-colors: -moz-dialogtext -moz-dialogtext !important;
}

.tabbrowser-tabs[treestyletab-mode="vertical"]:not([treestyletab-style])
  .tabbrowser-tab[treestyletab-drop-position="self"][selected="true"],
.tabbrowser-tabs[treestyletab-mode="vertical"]:not([treestyletab-style])
  .tabbrowser-tab[treestyletab-drop-position="self"][selected="true"]:hover,
.tabbrowser-tabs[treestyletab-mode="vertical"]:not([treestyletab-style])
  .tabbrowser-tab[treestyletab-drop-position="self"]:not([selected="true"]),
.tabbrowser-tabs[treestyletab-mode="vertical"]:not([treestyletab-style])
  .tabbrowser-tab[treestyletab-drop-position="self"]:not([selected="true"]):hover,
.tabbrowser-tabs[treestyletab-tabbar-position="bottom"]:not([treestyletab-style])
  .tabbrowser-tab[treestyletab-drop-position="self"][selected="true"],
.tabbrowser-tabs[treestyletab-tabbar-position="bottom"]:not([treestyletab-style])
  .tabbrowser-tab[treestyletab-drop-position="self"][selected="true"]:hover,
.tabbrowser-tabs[treestyletab-tabbar-position="bottom"]:not([treestyletab-style])
  .tabbrowser-tab[treestyletab-drop-position="self"]:not([selected="true"]),
.tabbrowser-tabs[treestyletab-tabbar-position="bottom"]:not([treestyletab-style])
  .tabbrowser-tab[treestyletab-drop-position="self"]:not([selected="true"]):hover {
	outline: 2px solid !important;
}

.tabbrowser-tabs[treestyletab-mode="vertical"][treestyletab-style]
  .tabbrowser-tab:not([pinned="true"])[treestyletab-drop-position="before"][selected="true"],
.tabbrowser-tabs[treestyletab-mode="vertical"][treestyletab-style]
  .tabbrowser-tab:not([pinned="true"])[treestyletab-drop-position="before"][selected="true"]:hover,
.tabbrowser-tabs[treestyletab-mode="vertical"][treestyletab-style]
  .tabbrowser-tab:not([pinned="true"])[treestyletab-drop-position="before"]:not([selected="true"]),
.tabbrowser-tabs[treestyletab-mode="vertical"][treestyletab-style]
  .tabbrowser-tab:not([pinned="true"])[treestyletab-drop-position="before"]:not([selected="true"]):hover,
.tabbrowser-tabs[treestyletab-mode="vertical"][treestyletab-style][treestyletab-firsttab-border="true"]
  .tabbrowser-tab:first-child:not([pinned="true"])[treestyletab-drop-position="before"][selected="true"],
.tabbrowser-tabs[treestyletab-mode="vertical"][treestyletab-style][treestyletab-firsttab-border="true"]
  .tabbrowser-tab:first-child:not([pinned="true"])[treestyletab-drop-position="before"][selected="true"]:hover,
.tabbrowser-tabs[treestyletab-mode="vertical"][treestyletab-style][treestyletab-firsttab-border="true"]
  .tabbrowser-tab:first-child:not([pinned="true"])[treestyletab-drop-position="before"]:not([selected="true"]),
.tabbrowser-tabs[treestyletab-mode="vertical"][treestyletab-style][treestyletab-firsttab-border="true"]
  .tabbrowser-tab:first-child:not([pinned="true"])[treestyletab-drop-position="before"]:not([selected="true"]):hover {
	-moz-border-top-colors: -moz-dialogtext -moz-dialogtext !important;
}

.tabbrowser-tabs[treestyletab-mode="vertical"][treestyletab-style]
  .tabbrowser-tab:not([pinned="true"])[treestyletab-drop-position="after"][selected="true"],
.tabbrowser-tabs[treestyletab-mode="vertical"][treestyletab-style]
  .tabbrowser-tab:not([pinned="true"])[treestyletab-drop-position="after"][selected="true"]:hover,
.tabbrowser-tabs[treestyletab-mode="vertical"][treestyletab-style]
  .tabbrowser-tab:not([pinned="true"])[treestyletab-drop-position="after"]:not([selected="true"]),
.tabbrowser-tabs[treestyletab-mode="vertical"][treestyletab-style]
  .tabbrowser-tab:not([pinned="true"])[treestyletab-drop-position="after"]:not([selected="true"]):hover {
	-moz-border-bottom-colors: -moz-dialogtext -moz-dialogtext !important;
}

.tabbrowser-tabs[treestyletab-mode="vertical"][treestyletab-style]
  .tabbrowser-tab[pinned="true"][treestyletab-drop-position="before"][selected="true"],
.tabbrowser-tabs[treestyletab-mode="vertical"][treestyletab-style]
  .tabbrowser-tab[pinned="true"][treestyletab-drop-position="before"][selected="true"]:hover,
.tabbrowser-tabs[treestyletab-mode="vertical"][treestyletab-style]
  .tabbrowser-tab[pinned="true"][treestyletab-drop-position="before"]:not([selected="true"]),
.tabbrowser-tabs[treestyletab-mode="vertical"][treestyletab-style]
  .tabbrowser-tab[pinned="true"][treestyletab-drop-position="before"]:not([selected="true"]):hover {
	-moz-border-left-colors: -moz-dialogtext -moz-dialogtext !important;
}

.tabbrowser-tabs[treestyletab-mode="vertical"][treestyletab-style]
  .tabbrowser-tab[pinned="true"][treestyletab-drop-position="after"][selected="true"],
.tabbrowser-tabs[treestyletab-mode="vertical"][treestyletab-style]
  .tabbrowser-tab[pinned="true"][treestyletab-drop-position="after"][selected="true"]:hover,
.tabbrowser-tabs[treestyletab-mode="vertical"][treestyletab-style]
  .tabbrowser-tab[pinned="true"][treestyletab-drop-position="after"]:not([selected="true"]),
.tabbrowser-tabs[treestyletab-mode="vertical"][treestyletab-style]
  .tabbrowser-tab[pinned="true"][treestyletab-drop-position="after"]:not([selected="true"]):hover {
	-moz-border-right-colors: -moz-dialogtext -moz-dialogtext !important;
}


/* drop marker by icon (for horizontal tab bar or the default theme) */

.tabbrowser-tabs[treestyletab-tabbar-position="top"]
  .tabbrowser-tab[treestyletab-drop-position="self"]
  .treestyletab-drop-marker,
.tabbrowser-tabs[treestyletab-mode="vertical"]:not([treestyletab-style])
  .tabbrowser-tab[treestyletab-drop-position="after"]
  .treestyletab-drop-marker {
	list-style-image: url("dropmarker-down.png");
}

.tabbrowser-tabs[treestyletab-mode="vertical"]:not([treestyletab-style])
  .tabbrowser-tab[treestyletab-drop-position="before"]
  .treestyletab-drop-marker {
	list-style-image: url("dropmarker-up.png");
}

.tabbrowser-tabs[treestyletab-mode="horizontal"]:not([treestyletab-style])
  .tabbrowser-tab[treestyletab-drop-position="before"]
  .treestyletab-drop-marker {
	list-style-image: url("dropmarker-left.png");
}

.tabbrowser-tabs[treestyletab-mode="horizontal"]:not([treestyletab-style])
  .tabbrowser-tab[treestyletab-drop-position="after"]
  .treestyletab-drop-marker {
	list-style-image: url("dropmarker-right.png");
}

.tabbrowser-tabs[treestyletab-tabbar-position="top"]
  .tabbrowser-tab[treestyletab-children][treestyletab-drop-position="self"]
  .treestyletab-twisty,
.tabbrowser-tabs:not([treestyletab-style])
  .tabbrowser-tab[treestyletab-children][treestyletab-drop-position="before"]
  .treestyletab-twisty,
.tabbrowser-tabs:not([treestyletab-style])
  .tabbrowser-tab[treestyletab-children][treestyletab-drop-position="after"]
  .treestyletab-twisty,
.tabbrowser-tabs[treestyletab-tabbar-position="top"]
  .tabbrowser-tab[treestyletab-drop-position="self"]
  .tab-icon-image,
.tabbrowser-tabs:not([treestyletab-style])
  .tabbrowser-tab[treestyletab-drop-position="before"]
  .tab-icon-image,
.tabbrowser-tabs:not([treestyletab-style])
  .tabbrowser-tab[treestyletab-drop-position="after"]
  .tab-icon-image,
.tabbrowser-tabs[treestyletab-tabbar-position="top"]
  .tabbrowser-tab[treestyletab-drop-position="self"]
  .tab-throbber,
.tabbrowser-tabs:not([treestyletab-style])
  .tabbrowser-tab[treestyletab-drop-position="before"]
  .tab-throbber,
.tabbrowser-tabs:not([treestyletab-style])
  .tabbrowser-tab[treestyletab-drop-position="after"]
  .tab-throbber,
.tabbrowser-tabs[treestyletab-tabbar-position="top"]
  .tabbrowser-tab[treestyletab-drop-position="self"]
  .tab-extra-status,
.tabbrowser-tabs:not([treestyletab-style])
  .tabbrowser-tab[treestyletab-drop-position="before"]
  .tab-extra-status,
.tabbrowser-tabs:not([treestyletab-style])
  .tabbrowser-tab[treestyletab-drop-position="after"]
  .tab-extra-status {
	visibility: hidden;
}

/* for Firefox 3.6 or older */
.tabbrowser-tabs[treestyletab-tabbar-position="top"]
  .tabbrowser-tab[treestyletab-drop-position="self"][selected="true"]
  > .tab-image-middle,
.tabbrowser-tabs[treestyletab-tabbar-position="top"]
  .tabbrowser-tab[treestyletab-drop-position="self"][selected="true"]:hover
  > .tab-image-middle,
.tabbrowser-tabs[treestyletab-tabbar-position="top"]
  .tabbrowser-tab[treestyletab-drop-position="self"]:not([selected="true"])
  > .tab-image-middle,
.tabbrowser-tabs[treestyletab-tabbar-position="top"]
  .tabbrowser-tab[treestyletab-drop-position="self"]:not([selected="true"]):hover
  > .tab-image-middle,
/* for Firefox 4 or later */
.tabbrowser-tabs[treestyletab-tabbar-position="top"]
  .tabbrowser-tab[treestyletab-drop-position="self"][selected="true"]
  .tab-content,
.tabbrowser-tabs[treestyletab-tabbar-position="top"]
  .tabbrowser-tab[treestyletab-drop-position="self"][selected="true"]:hover
  .tab-content,
.tabbrowser-tabs[treestyletab-tabbar-position="top"]
  .tabbrowser-tab[treestyletab-drop-position="self"]:not([selected="true"])
  .tab-content,
.tabbrowser-tabs[treestyletab-tabbar-position="top"]
  .tabbrowser-tab[treestyletab-drop-position="self"]:not([selected="true"]):hover
  .tab-content {
	outline: 2px -moz-dialogtext solid !important;
}



tabbrowser[treestyletab-drop-position] {
	-moz-appearance: none !important;
	border: 2px solid transparent !important;
	-moz-border-top-colors: none !important;
	-moz-border-right-colors: none !important;
	-moz-border-bottom-colors: none !important;
	-moz-border-left-colors: none !important;
}
.tabbrowser-strip[treestyletab-drop-position="center"],
.tabbrowser-strip[treestyletab-drop-position="top"]:not([treestyletab-tabbar-position="top"]),
.tabbrowser-strip[treestyletab-drop-position="right"]:not([treestyletab-tabbar-position="right"]),
.tabbrowser-strip[treestyletab-drop-position="bottom"]:not([treestyletab-tabbar-position="bottom"]),
.tabbrowser-strip[treestyletab-drop-position="left"]:not([treestyletab-tabbar-position="left"]),
.treestyletab-tabbar-toolbar[treestyletab-drop-position="center"],
.treestyletab-tabbar-toolbar[treestyletab-drop-position="top"]:not([treestyletab-tabbar-position="top"]),
.treestyletab-tabbar-toolbar[treestyletab-drop-position="right"]:not([treestyletab-tabbar-position="right"]),
.treestyletab-tabbar-toolbar[treestyletab-drop-position="bottom"]:not([treestyletab-tabbar-position="bottom"]),
.treestyletab-tabbar-toolbar[treestyletab-drop-position="left"]:not([treestyletab-tabbar-position="left"]),
.treestyletab-tabbar-toolbar[treestyletab-drop-position="center"] #treestyletab-tabbar-resizer-box,
.treestyletab-tabbar-toolbar[treestyletab-drop-position="top"]:not([treestyletab-tabbar-position="top"])
  #treestyletab-tabbar-resizer-box,
.treestyletab-tabbar-toolbar[treestyletab-drop-position="right"]:not([treestyletab-tabbar-position="right"])
  #treestyletab-tabbar-resizer-box,
.treestyletab-tabbar-toolbar[treestyletab-drop-position="bottom"]:not([treestyletab-tabbar-position="bottom"])
  #treestyletab-tabbar-resizer-box,
.treestyletab-tabbar-toolbar[treestyletab-drop-position="left"]:not([treestyletab-tabbar-position="left"])
  #treestyletab-tabbar-resizer-box {
	opacity: 0.5;
}
tabbrowser[treestyletab-drop-position="top"]:not([treestyletab-tabbar-position="top"]) {
	border-top-color: -moz-dialogtext !important;
}
tabbrowser[treestyletab-drop-position="right"]:not([treestyletab-tabbar-position="right"]) {
	border-right-color: -moz-dialogtext !important;
}
tabbrowser[treestyletab-drop-position="bottom"]:not([treestyletab-tabbar-position="bottom"]) {
	border-bottom-color: -moz-dialogtext !important;
}
tabbrowser[treestyletab-drop-position="left"]:not([treestyletab-tabbar-position="left"]) {
	border-left-color: -moz-dialogtext !important;
}



/* vertical tab bar */

.tabbrowser-tabs[treestyletab-mode="vertical"]
  .tabs-alltabs-stack
  > hbox {
	position: static !important;
}
.tabbrowser-tabs[treestyletab-mode="vertical"]
  .tabs-alltabs-stack
  > hbox:not(:last-child) {
	display: none !important;
}



/* transaprent tab bar */

.tabbrowser-tabs[treestyletab-tabbar-autohide]
  .tabbrowser-tab {
	opacity: 0.85 !important;
}
.tabbrowser-tabs[treestyletab-tabbar-autohide]:hover
  .tabbrowser-tab {
	opacity: 0.9 !important;
}
.tabbrowser-tabs[treestyletab-tabbar-autohide]:hover
  .tabbrowser-tab[selected="true"],
.tabbrowser-tabs[treestyletab-tabbar-autohide]:hover
  .tabbrowser-tab:hover {
	opacity: 0.95 !important;
}
.tabbrowser-tabs[treestyletab-tabbar-autohide]:hover
  .tabbrowser-tab[selected="true"]:hover {
	opacity: 0.98 !important;
}


/* auto hide */

tabbrowser[treestyletab-tabbar-position="left"]
  .treestyletab-tabbar-toggler {
	border-right: 1px solid ThreeDShadow;
}
tabbrowser[treestyletab-tabbar-position="right"]
  .treestyletab-tabbar-toggler {
	border-left: 1px solid ThreeDShadow;
}
tabbrowser[treestyletab-tabbar-position="bottom"]
  .treestyletab-tabbar-toggler {
	border-top: 1px solid ThreeDShadow;
}
.treestyletab-tabbar-toolbar[treestyletab-tabbar-autohide]
  #treestyletab-tabbar-resizer-box {
	background: rgba(0, 0, 0, 0.25);
}


/* toolbar customization */

.treestyletab-tabbar-toolbar-ready-popup {
	max-width: 15em;
	opacity: 0.85;
	-moz-appearance: tooltip;
}

.treestyletab-tabbar-toolbar-ready {
	border: 2px solid -moz-fieldtext !important;
}
