@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* Default style */

.tabbrowser-tabs:not([treestyletab-tabbar-position="top"]),
.treestyletab-tabbar-toolbar:not([treestyletab-tabbar-position="top"]) {
	background: transparent !important;
	margin: 0 !important;
	padding: 0 !important;
	-moz-appearance: none;
}
.tabbrowser-strip[treestyletab-style~="border"]:not([treestyletab-tabbar-position="top"]) {
	background: darkgray !important;
	-moz-appearance: none;
}

.tabbrowser-strip[treestyletab-mode="vertical"],
.treestyletab-tabbar-toolbar[treestyletab-mode="vertical"],
.tabbrowser-tabs[treestyletab-mode="vertical"],
.tabbrowser-tabs[treestyletab-mode="vertical"]
  .tabbrowser-arrowscrollbox,
.tabbrowser-tabs[treestyletab-mode="vertical"]
  .tabs-container {
	height: auto !important;
	max-height: none !important;
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.treestyletab-tabbar-toolbar:not([treestyletab-tabbar-position="top"]),
.treestyletab-tabbar-toolbar[treestyletab-tabbar-position="top"]:not([treestyletab-tabbar-fixed="true"]) {
	border: 0 none !important;
	margin: 0 !important;
	padding: 0 !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
}

.tabbrowser-strip[treestyletab-tabbar-position="left"][treestyletab-tabbar-fixed="true"],
.treestyletab-tabbar-toolbar[treestyletab-tabbar-position="left"][treestyletab-tabbar-fixed="true"] {
	border-right: 1px solid ThreeDShadow !important;
	-moz-border-right-colors: none !important;
}
.tabbrowser-strip[treestyletab-tabbar-position="right"][treestyletab-tabbar-fixed="true"],
.treestyletab-tabbar-toolbar[treestyletab-tabbar-position="right"][treestyletab-tabbar-fixed="true"] {
	border-left: 1px solid ThreeDShadow !important;
	-moz-border-left-colors: none !important;
}

.tabbrowser-tabs[treestyletab-mode="vertical"]
  .tabs-left,
.tabbrowser-tabs:not([treestyletab-tabbar-position="top"])
  .tabs-bottom,
.tabbrowser-tabs:not([treestyletab-tabbar-position="top"])
  .tab-text-shadow /* Mac OS X */ {
	display: none !important;
}

.tabbrowser-tabs:not([treestyletab-tabbar-position="top"])
  .tabbrowser-tab,
.tabbrowser-tabs:not([treestyletab-tabbar-position="top"])
  .tabbrowser-tab:not([selected="true"]) {
	-moz-appearance: none !important;
	min-height: 2em;
	margin: 0 !important;
	/*padding: 0 0.2em !important;*/
	color: -moz-dialogtext;
	-moz-background-origin: border !important;
	background-origin: border-box !important;
	background-position: 0 0 !important;
	border-top: 2px solid !important;
	-moz-border-top-colors: transparent transparent !important;
	border-bottom: 2px solid !important;
	-moz-border-bottom-colors: ThreeDShadow transparent !important;
	-moz-border-radius-topleft : 0 !important;
	-moz-border-radius-topright : 0 !important;
	-moz-border-radius-bottomleft : 0 !important;
	-moz-border-radius-bottomright : 0 !important;
	-moz-border-image: none !important;
	-moz-box-align: stretch !important;
}
.tabbrowser-tabs:not([treestyletab-tabbar-position="top"])
  .tabbrowser-tab:not([pinned]),
.tabbrowser-tabs:not([treestyletab-tabbar-position="top"])
  .tabbrowser-tab:not([pinned]):not([selected="true"]) {
	background: ThreeDFace repeat-x !important;
}
.tabbrowser-tabs:not([treestyletab-tabbar-position="top"])
  :-moz-any(.tabbrowser-tab[pinned]:not([titlechanged]),
            .tabbrowser-tab[pinned]:not([titlechanged]):not([selected="true"])),
:root[tabFx2Compatible-flags~="mac"]
  .tabbrowser-tabs:not([treestyletab-tabbar-position="top"])
  :-moz-any(.tabbrowser-tab[pinned],
            .tabbrowser-tab[pinned][titlechanged]) {
	background: ThreeDFace repeat-x !important;
}
.tabbrowser-tabs[treestyletab-mode="vertical"][treestyletab-firsttab-border="true"]
  .tabbrowser-tab:not([pinned="true"]):not([selected="true"]):first-child {
	-moz-border-top-colors: ThreeDShadow transparent !important;
}

/* for Mac OS X, Firefox 4 */
.tabbrowser-tabs[treestyletab-mode="vertical"]
  :-moz-any(.tab-content:not([selected="true"]),
            .tab-content[selected="true"]) {
	border: 0 none !important;
	background: transparent !important;
}
.tabbrowser-tabs[treestyletab-mode="vertical"]
  :-moz-any(.tab-background-start:not([selected="true"]),
            .tab-background-middle:not([selected="true"]),
            .tab-background-end:not([selected="true"]),
            .tab-background-start[selected="true"],
            .tab-background-middle[selected="true"],
            .tab-background-end[selected="true"]) {
	mask: none !important;
}
.tabbrowser-tabs[treestyletab-mode="vertical"]
  :-moz-any(.tab-background-start:not([selected="true"]),
            .tab-background-middle:not([selected="true"]):not([pinned]),
            .tab-background-middle:not([selected="true"])[pinned]:not([titlechanged]),
            .tab-background-end:not([selected="true"]),
            .tab-background-start[selected="true"],
            .tab-background-middle[selected="true"],
            .tab-background-end[selected="true"]) {
	background: transparent !important;
}
.tabbrowser-tabs[treestyletab-mode="vertical"]
  :-moz-any(.tab-background-start[pinned][titlechanged],
            .tab-background-end[pinned][titlechanged]) {
	visibility: collapse !important;
}
.tabbrowser-tabs[treestyletab-mode="vertical"]
  .tab-background {
	margin: 0 !important;
}
.tabbrowser-tabs[treestyletab-mode="vertical"]
  .tab-content {
	margin-left: 0 !important;
	margin-right: 0 !important;
}

.tabbrowser-tabs:not([treestyletab-tabbar-position="top"])
  .tab-icon-image,
.tabbrowser-tabs:not([treestyletab-tabbar-position="top"])
  .tab-throbber {
	margin-left: 0;
}

.tabbrowser-tabs:not([treestyletab-tabbar-position="top"])
  .tabbrowser-tab[selected="true"] {
	margin: 0 !important;
	padding: 0 0.2em !important;
	-moz-border-top-colors: ThreeDHighlight transparent !important;
	-moz-border-bottom-colors: ThreeDShadow transparent !important;
}
.tabbrowser-tabs:not([treestyletab-tabbar-position="top"])
  .tabbrowser-tab[selected="true"] {
	background-color: ThreeDHighlight !important;
}

.tabbrowser-tabs:not([treestyletab-tabbar-position="top"])
  .tabbrowser-tab
  .tab-image-left,
.tabbrowser-tabs:not([treestyletab-tabbar-position="top"])
  .tabbrowser-tab
  .tab-image-right,
.tabbrowser-tabs:not([treestyletab-tabbar-position="top"])
  .tabbrowser-tab:not([selected="true"])
  .tab-image-left,
.tabbrowser-tabs:not([treestyletab-tabbar-position="top"])
  .tabbrowser-tab:not([selected="true"])
  .tab-image-right {
	height: auto;
	margin: 0 !important;
	padding: 0 !important;
	background: transparent;
	width: 0;
}


.tabbrowser-tabs:not([treestyletab-tabbar-position="top"])
  .tabbrowser-tab
  .tab-image-middle,
.tabbrowser-tabs:not([treestyletab-tabbar-position="top"])
  .tabbrowser-tab
  .tab-close-button,
.tabbrowser-tabs:not([treestyletab-tabbar-position="top"])
  .tabbrowser-tab:not([selected="true"]):not(:hover)
  .tab-image-middle,
.tabbrowser-tabs:not([treestyletab-tabbar-position="top"])
  .tabbrowser-tab:not([selected="true"]):not(:hover)
  .tab-image-middle
  .tab-close-button {
	height: auto;
	margin: 0 !important;
	padding: 0 !important;
	background: transparent;
}
.tabbrowser-tabs:not([treestyletab-tabbar-position="top"])
  .tabbrowser-tab[selected="true"]
  .tab-image-middle,
.tabbrowser-tabs:not([treestyletab-tabbar-position="top"])
  .tabbrowser-tab[selected="true"]
  .tab-close-button {
	background: transparent;
}

.tabbrowser-tabs[treestyletab-mode="vertical"]
  .tabbrowser-tab,
.tabbrowser-tabs[treestyletab-mode="vertical"]
  .tabbrowser-tab:not([selected="true"]) {
	border-left: 2px solid !important;
	-moz-border-left-colors: ThreeDLightShadow transparent !important;
	border-right: 2px solid !important;
	-moz-border-right-colors: ThreeDLightShadow transparent !important;
}
.tabbrowser-tabs[treestyletab-mode="vertical"]
  .tabbrowser-tab[selected="true"] {
	-moz-border-left-colors: ThreeDLightShadow transparent !important;
	-moz-border-right-colors: ThreeDLightShadow transparent !important;
}

.tabbrowser-tabs[treestyletab-mode="vertical"]
  .tabbrowser-tab
  .tab-close-button {
	margin-right: 0 !important;
}

.tabbrowser-tabs[treestyletab-tabbar-position="bottom"]
  .tabbrowser-tab,
.tabbrowser-tabs[treestyletab-tabbar-position="bottom"]
  .tabbrowser-tab:not([selected="true"]) {
	border-right: 2px solid !important;
	-moz-border-right-colors: ThreeDShadow transparent !important;
	border-left: 2px solid !important;
	-moz-border-left-colors: ThreeDShadow transparent !important;
}

/* Mac OS X */
.tabbrowser-tabs[treestyletab-mode="vertical"]
  .tabbrowser-tab {
	text-align: start !important; 
	-moz-box-pack: start !important;
}


/* padding */

.tabbrowser-tabs:not([treestyletab-tabbar-position="top"])
  .tabbrowser-tab[selected="true"],
.tabbrowser-tabs:not([treestyletab-tabbar-position="top"])
  .tabbrowser-tab:not([selected="true"]) {
	padding: 0 0.2em !important;
}

.tabbrowser-tabs:not([treestyletab-tabbar-position="top"])
  .tabbrowser-tab
  .tab-content[selected="true"]:not([pinned]),
.tabbrowser-tabs:not([treestyletab-tabbar-position="top"])
  .tabbrowser-tab
  .tab-content:not([selected="true"]):not([pinned]) {
	padding: 0 0.2em !important;
}


/* aero glass */

.tabbrowser-tabs[treestyletab-style~="aero"]:not([treestyletab-tabbar-position="top"]),
.tabbrowser-strip[treestyletab-style~="aero"]:not([treestyletab-tabbar-position="top"]),
tabbrowser[treestyletab-style~="aero"]:not([treestyletab-tabbar-position="top"]),
:root[treestyletab-style~="aero"]:not([treestyletab-tabbar-position="top"]) #appcontent,
:root[treestyletab-style~="aero"]:not([treestyletab-tabbar-position="top"]) #browser {
	background: transparent !important;
	-moz-appearance: none !important;
}
